@import "tailwindcss";


:root {
  --primary: #040D12;
  --secondary: #183D3D;
  --accent: #5C8374;
  --grey: #93B1A6;
  --white: #F5F5F5;


}

* {
  font-family: "Roboto", sans-serif;

}

img {
  color: wheat
}

body {
  /* background-image: linear-gradient(to bottom, var(--primary) 0%, var(--secondary) 50%, var(--accent) 75%, var(--grey) 100%); */
  background-color: var(--primary);
  color: var(--white);
}



